@import url(https://fonts.googleapis.com/css?family=Overpass:400,700);
body {
  font-family: "Overpass", sans-serif;
  background: #f7797d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0;
  margin: 0;
  height: 100vh;
}

.plan {
  display: inline-block;
  margin: 10px 1%;
  font-family: 'Overpass', sans-serif;
  position: relative;
}

.card {
  background: #fff;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
}

.content-card {
  background: #fff;
  padding: 25px;
  text-align: left;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
}

.plan-inner {
  margin: 0 auto;
  min-width: 150px;
  max-width: 100%;
  position: relative;
}

.entry-content {
  color: #323232;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

li {
  padding: 10px 0;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  margin: 10px 0;
  transition: .15s;
}

.entry-content li:last-child {
  border: none;
}

.entry-content li:hover {
  transform: scale(1.05);
}

.managed {
  background: #62A4AE;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #767EA1, #62A4AE);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #767EA1, #62A4AE);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.provided {
  background: #9BCC9A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5CB5A4, #9BCC9A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5CB5A4, #9BCC9A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  text-transform: uppercase;
  text-align: left;
}

.subtitle {
  margin-top: 0;
  color: #969696;
  margin-bottom: 5px;
  letter-spacing: 1px;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-size: 10px;
}

.title {
  margin: 0;
  font-size: 20px;
}

#services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#services>* {
  flex: 1;
}

.spaced {
  margin-right: 5vw;
  margin-left: 5vw;
}

.heading {
  color: white;
  font-size: 40px;
  text-align: left;
}

.subheading {
  color: white;
  font-size: 32px;
  text-align: left;
  margin-top: 75px;
}

.plan:first-of-type {
  margin-left: 0 !important;
}

.plan:last-of-type {
  margin-right: 0 !important;
}

.caption {
  background-attachment: fixed;
}

/*** Scrolling ***/

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.progressbar {
  position: fixed;
  top: 0px;
  left: 0;
  height: 5px;
  width: 0%;
  z-index: 999;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.progress {
  background-color: rgb(255, 255, 255, 0.3);
  position: fixed;
  top: 0px;
  left: 0;
  height: 5px;
  width: 100%;
}

.captions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.captions>h3 {
  margin: 0;
}

.caption {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.dot {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 5px;
  border-radius: 100%;
}

/*** section ***/

section>h3 {
  text-transform: uppercase;
  color: #969696;
}

/*** Footer ***/

.social {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 48px;
  padding-top: 24px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.social h2 {
  text-align: center;
  margin-bottom: 24px;
}

.social li {
  display: inline-block;
}

.social a {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  width: 36px;
  height: 36px;
  display: block;
  text-align: center;
  margin: 0 6px;
}

.social a .title {
  display: none;
}

.social a svg {
  fill: #fff;
  width: 16px;
}

.social a:hover svg {
  fill: #f7797d;
}

.social p {
  text-align: center;
  margin-top: 12px;
  color: #f7797d;
}

.container {
  padding: 25px;
}

/** Animations **/

.plan:nth-child(1) {
  animation: 1.5s ease 0s 1 slideIn;
}
.plan:nth-child(2) {
  animation: 2s ease 0s 1 slideIn;
}
.plan:nth-child(3) {
  animation: 2.5s ease 0s 1 slideIn;
}
.plan:nth-child(4) {
  animation: 3s ease 0s 1 slideIn;
}

@keyframes slideIn {
  0% {
    transform: translateY(+50px);
    opacity: 0;
  }

  25% {
    opacity: 0;  
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
